body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 50px;
}

.main-name{
    color: rgb(212, 109, 6);
}

section{
    display: flex;
    margin bottom: 100px;
}

    .half-width img {
    width: 115% 
    
}

div{
    padding-left:5%;
}
.hier-me-button {
    text-decoration: none;
    background-image: linear-gradient(rgb(212, 109, 6), tomato);
    padding: 1.5% 3%;
    font-weight: 700px;
    color:white;
    border-radius: 50px;
    
}

}
.top-bannar{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.resume-batton{
    text-decoration: none;
    background-image: linear-gradient(rgb(212, 109, 6), tomato);
    font-weight: 700px;
    color: white;
    border-radius: 50px;
    padding: 1.5% 3%; 
}

.big-dream{
background-image: url(images/dream-bg.png);
background-repeat: no-repeat;
background-position: right;
}
